body
{
    margin: 0;
    padding: 0;
}
/*
.custom-list {
    margin: 50px;
}

.custom-list-item {
    position: relative;
    color: green;
    font-weight: 700;
}

.custom-list-item::before {
    content: '';
    position: absolute;
    left: -15px;
    top: 40%;
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: orchid;
    transform: rotate(45deg);
}

.random-btn {
    width: 150px;
    height: 80px;
    background-color: plum;
    border-radius: 8px;
    transition: width 4s, height 4s, background-color 2s ease;
}

.random-btn:hover {
    width: 200px;
    height: 100px;
    background-color: mediumaquamarine;
}

.jump-circle {
    width: 50px;
    height: 50px;
    background-color: teal;
    border-radius: 50%;
    animation: jump 1s infinite linear alternate;
}

.preloader {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #333;
    border-top-color: transparent;
    animation: goAround 2s linear infinite;
}
.inner-preloader {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid teal;
    border-top-color: transparent;
    animation: goAround 1s linear reverse infinite;
}
.inner-preloader-2 {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #333;
    border-top-color: transparent;
    animation: goAround 1s linear infinite;
}

.inner-preloader-3 {
    width: 30px;
    height: 30px;
    border: 2px solid teal;
    border-top-color: transparent;
}

@keyframes goAround {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes jump {
    0% {
        transform: translate(0,0);
    }
    100% {
        transform: translate(0,-50px);
    }
}
*/

#packman {
    display: inline-block;
    flex-direction: column;
    /*justify-content: center;
    align-items: center;*/
}

.packman-top,
.packman-bottom {
    width: 150px;
    height: 75px;
    background-color: yellow;
}

.packman-top {
    position: relative;
    transform-origin: bottom center;
    border-radius: 75px 75px 0 0;
    transform: rotate(-45deg);
    animation: pckTop 1s infinite alternate linear;
}

.packman-top::before {
    content: '';
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 55%;
    right: 30%;
}

.packman-bottom {
    transform-origin: top center;
    border-radius: 0 0 75px 75px;
    transform: rotate(45deg);
    animation: pckBottom 1s infinite alternate linear;
}

@keyframes pckTop {
    0% {
        transform: rotate(-45deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes pckBottom {
    0% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(0deg);
    }
}


