* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.email-item {
    margin: 10px;
    padding: 15px;
    border: 1px solid #777;
    cursor: pointer;
}

.email-item-headline {
    font-size: 22px;
}

.email-item-headline::before {
    content: "subject: ";
    font-size: 18px;
    color: #999;
}

.email-item-info {
    font-size: 14px;
    text-decoration: underline;
    margin: 5px 0;
}

.email-item-from::before {
    content: 'from: ';
    color: #999;
}
.email-item-to::before {
    content: 'to: ';
    color: #999;
}

.email-item-message {
    margin-top: 10px;
}

.new-mail-form {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #aaa;
}
